

  @media screen and (min-width:1150px) {
    .middle-box {
      background-image: url('./Images/bgE.png');
      background-size: cover;
     
       
     
        width: 100vw;
        padding: 30px;
      }
    
  }
  @media screen and (max-width:1150px) {
    .middle-box {
      background-image: url('./Images/bgE.png');
      background-size: contain;
     
       
     
        width: 100vw;
        padding: 30px;
      }
    
  }
  
  .event-box {
    background-image: url('./Images/11.png');
    background-size: cover;
    background-repeat: none;
    width: 820px;
    height: 710px;
    padding: 40px;   
    
margin: auto;
 
    display: flex;
   
    justify-content: center;
    align-items: center;
  }
  
  .event_img {
    max-width: 83%;


    height: auto;
    
    /* padding: 10px; */
  }
  

  .events_slip{
      box-shadow: 0 0 0 2px black, 8px 8px 0 0 #ff3b78;
      background-color: #03d3cd;
      text-align: center;
      font-weight: bolder;
      width: 150px;
      margin: auto;
      font-size: 30px;
      padding: 10px;
  
  }